#frame{
  width: 50px;
  height: 50px;
  background: rgb(0, 102, 255);
  position: relative;
  animation: myframe 2s ;
  animation-direction: reverse;
}

@keyframes myframe {
  to {background: red; }
  from{background: yellow;}
  25% {background: green;}
  50% {background:gray;}
}
.div {
  height: 100px;
  width: 150px;
  padding: 50px;
  margin: 10px auto;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid black;
  background-color: red;
}
.div2:hover{
 
  transition-duration:5s;
  transform: rotate(50deg);
  transform-origin: 0% 0%;
}

.div3:hover{
 
  transition-duration:5s;
  transform: skew(50deg);
  transform-origin: 0% 0%;
 } 
.div4:hover{
  
  transition-duration:5s;
  transform: scale(-0.3,-0.3);
  transform-origin: 0% 0%;
}
.image:hover{
  padding: 50px;
  margin-top: 200px;
  margin-left:auto;
  margin-right:auto;
  transition-duration:5s;
  transform-origin: 0% 0%;
  transform: rotate(360deg);
  
}