body{
    background-color: rgb(115, 255, 0);
    color: white;
}
@media screen and (max-width:  600px){
body {
 background-color:rgb(255, 230, 0);
 color:white;
}
}
@media screen and (max-width:  600px){
    img {
     display: none;
   }
 }